$font-stack: 'Segoe UI' , 'Helvetica Neue';
$color-side: #2C2F3E;
$font-size-title: 35px;
$font-size-sub: 20px;
$font-weight-light: 300;
$font-color: #5C5C5C;
$placeholder-color: #b2b2b2;
$color-primary: #FFFFFF;
$color-secondary: #F9F9F9;
$color-success-btn: #2DC9BC;
$color-danger-btn: #CB3F65;