@import '../../scss/variables';
@import '../../scss/buttons';

.app-wrapper {
    font-family: $font-stack;
    width: 100%;
    height: 100%;
    display: flex;
}

.left-block {
    height: 100%;
    width: 20%;
    min-width: 275px;
    background-color: $color-side;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.app-title {
    text-transform: uppercase;
    font-weight: $font-weight-light;
    font-size: $font-size-title;
    color: #ffffff;
}

.app-subtitle {
    font-size: $font-size-sub;
    color: $font-color;
    flex-grow: 1;
}

.main-container {
    padding: 25px;
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
}

.logout-btn {
    width: 100%;
    margin-bottom: 20px;
}