@import '../../../../scss/variables';

.app-wrapper {
    font-family: $font-stack;
    width: 100%;
    height: 100%;
    display: flex;
}

.left-block {
    height: 100%;
    width: 20%;
    min-width: 275px;
    background-color: $color-side;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.app-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 35px;
    color: #ffffff;
}

.app-subtitle {
    font-size: 20px;
    color: #cfcfcf;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
}